
.task-btn-primary {
    color: #fff;
    background-color: #3d6794 !important;    
}

.task-btn-danger {
    color: #fff;
    background-color: #a57d81 !important;
    border-color: #a57d81 !important;
}
 
  